*{
	margin: 0px;
	padding: 0px;
}


body{
    background: #FFFFFF;
}


/*Logo*/
.logo {
    width: 250px;
    height: 60px;
}


/*Cabeçalho*/
header li{
	display: inline;
}

/* Botões*/
.btn{
	overflow: hidden;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 700;
	border: none;
	padding: 5px;
	cursor: pointer;
	color: black;
	display: inline-block;
	text-decoration: none;
	background: none;
}

.slider{
	margin: 0 auto;
	width: 800px;
	height: 400px;
	overflow: hidden;
}

.slides{
	width: 400%;
	height: 400px;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 50%;
	position: relative;
}

.slide img{
	width: 800px;
}

.manual-navigation{
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: white;
}

#radio1:checked ~.first{
	margin left: 0;
}

#radio2:checked ~.first{
	margin left: 50%;
}

.navigation-auto div{
	border: 2px solid skyblue;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.navigation-auto{
	position: absolute;
	width: 800px;
	margin-top: 360px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
	background-color: white;
}

#radio2:checked ~.navigation-auto .auto-btn2{
	background-color: white;
}












/*Rodapé*/
}

footer{
    font-family: sans-serif;
    padding: 15px;
}